#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 0;
  margin: 0;
  position: relative;
  background-image: url("../images/bg.jpg");
  background-size: cover; /* Để ảnh nền đầy đủ phủ toàn bộ phần tử */
  background-position: center; /* Để ảnh nền được căn giữa */
}

.home-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  position: relative;
}

.button-container {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
}

.home-content {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: antiquewhite;
  font-size: 2.5rem; /* Thay đổi kích thước chữ thành 2.5rem */
  font-family: 'Arial', sans-serif; /* Chọn kiểu chữ Arial hoặc một kiểu chữ sans-serif khác */
  text-align: center; /* Căn giữa văn bản */
  line-height: 1.5; /* Điều chỉnh khoảng cách giữa các dòng */
}

.gradientBg {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.home-button {
  align-items: center !important;
  display: flex;
  gap: 12rem;
  margin: auto;
}

.logout-button, .login-button, .register-button, .das{
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #5b8b37;
  color: white;
  width: 150px;
  cursor: pointer;
  font-size: 1rem;
  margin: 0 0.5rem;
}

.edit_user_button {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #373a8b;
  color: white;
  width: 120px;
  cursor: pointer;
  font-size: 1rem;
  margin: 0 0.5rem;
}

.logout-button:hover, .das:hover {
  background-color: #c7c9b1;
}

.logout-button:hover{
  background-color: #cf390c;
}


.header-title {
  font-size: 1.5rem;
  margin-top: 1rem;
  text-align: center;
}

.chungkhoan {
  font-size: 2rem;
  text-align: center;
}


/* ----------------------------------------------- */
/* login style */

/* Add this CSS to your stylesheet */

.form-container-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  background-image: url("../images/bg.jpg");
  background-size: cover; /* Để ảnh nền đầy đủ phủ toàn bộ phần tử */
  background-position: center; /* Để ảnh nền được căn giữa */
}

.form-login {
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px; /* Fixed width */
  height: 300px; /* Fixed height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-login input {
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-login .button_login {
  margin-top: 20px;
  padding: 10px;
  width: 100%;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-login .button_login:hover {
  background-color: #0056b3;
}

.form-login p {
  color: red;
  margin-top: 10px;
}

/* alert list style */

/* Định dạng các thẻ h4 */
h4 {
  color: #333;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

/* Định dạng bảng */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

/* Định dạng các tiêu đề cột */
th {
  background-color: #0c4c90; /* Màu nền */
  color: white; /* Màu chữ */
  padding: 15px;
  text-align: left;
}

/* Định dạng các dòng dữ liệu */
td {
  padding: 3px;
  border-bottom: 1px solid #ccc; /* Đường kẻ dưới */
}

/* Định dạng các nút hành động */
button {
  padding: 5px 10px;
  margin-right: 5px;
  background-color: #093df9; /* Màu nền */
  color: white; /* Màu chữ */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Định dạng nút khi rê chuột vào */
button:hover {
  background-color: #0056b3;
}


/* add alert */

/* CSS cho phần form */
form {
  display: grid;
  gap: 10px; /* Khoảng cách giữa các thành phần của form */
}
/* CSS cho nhãn */
label {
  display: block; /* Hiển thị nhãn dưới dạng block để nó xuống dòng */
  font-weight: bold; /* In đậm nhãn */
}

/* CSS cho input */
input {
  width: 100%; /* Độ rộng 100% của input */
  padding: 8px; /* Khoảng cách bên trong input */
  border: 1px solid #ccc; /* Viền xám nhạt */
  border-radius: 4px; /* Bo tròn viền */
}

/* CSS cho nút Thêm */
button[type="submit"] {
  background-color: #007bff; /* Màu nền xanh dương */
  color: white; /* Màu chữ trắng */
  border: none; /* Không có viền */
  border-radius: 4px; /* Bo tròn góc */
  padding: 10px 20px; /* Khoảng cách bên trong nút */
  cursor: pointer; /* Con trỏ khi rê chuột vào */
}

button[type="submit"]:hover {
  background-color: #0056b3; /* Màu nền xanh dương tối khi hover */
}

/* CSS cho nút Hủy */
button[type="button"] {
  background-color: #dc3545; /* Màu nền đỏ */
  color: white; /* Màu chữ trắng */
  border: none; /* Không có viền */
  border-radius: 4px; /* Bo tròn góc */
  padding: 10px 20px; /* Khoảng cách bên trong nút */
  cursor: pointer; /* Con trỏ khi rê chuột vào */
}

button[type="button"]:hover {
  background-color: #af2929; /* Màu nền xanh dương tối khi hover */
}




/* CSS cho overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Màu nền overlay */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CSS cho container form */
.form-container-edit {
  background-color: #fff; /* Màu nền của container form */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Đổ bóng cho container */
}

/* CSS cho tiêu đề */ 
.form-container-edit h3 {
  text-align: center;
  margin-bottom: 20px;
}

/* CSS cho các label và input */
.form-container-edit label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

.form-container-edit input {
  width: calc(100% - 22px); /* Sửa lại độ rộng input với padding */
}

.button_edit_form {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button_edit_form button {
  width: 48%; /* Độ rộng của mỗi nút */
}


/* CSS cho nút "Sửa" */
button.edit-btn {
  background-color: #007bff; /* Màu nền xanh dương */
  color: white; /* Màu chữ trắng */
  border: none; /* Không có viền */
  border-radius: 4px; /* Bo tròn góc */
  padding: 1px 4px; /* Khoảng cách bên trong nút */
  cursor: pointer; /* Con trỏ khi rê chuột vào */
  margin-left: 0;
}

button.edit-btn:hover {
  background-color: #0056b3; /* Màu nền xanh dương tối khi hover */
}

/* CSS cho nút "Xóa" */
button.delete-btn {
  background-color: #dc3545; /* Màu nền đỏ */
  color: white; /* Màu chữ trắng */
  border: none; /* Không có viền */
  border-radius: 4px; /* Bo tròn góc */
  padding: 1px 4px; /* Khoảng cách bên trong nút */
  cursor: pointer; /* Con trỏ khi rê chuột vào */
  margin-right: 0;
}

button.delete-btn:hover {
  background-color: #af2929; /* Màu nền xanh dương tối khi hover */
}

/* CSS cho icon */
button i {
  margin-right: 5px; /* Khoảng cách giữa icon và chữ */
}

.alert-pages {
  display: flex;
  flex-direction: column; /* Dàn layout theo chiều dọc */
  align-items: center; /* Căn giữa theo chiều ngang */
}

.navbar {
  background-color: #0e3d6c; /* Màu nền của thanh bar */
  color: white; /* Màu chữ */
  display: flex;
  justify-content: space-between; /* Căn giữa hai phần tử con */
  align-items: center; /* Căn giữa theo chiều dọc */
  width: 100%;
  padding: 15px 0; /* Khoảng cách bên trong thanh bar */
}

.navbar h2 {
  margin: 0; /* Xóa margin mặc định của tiêu đề */
  font-size: 24px; /* Kích thước của tiêu đề */
}

.navbar button {
  background-color: transparent; /* Nền trong suốt */
  border: none; /* Không có viền */
  color: white; /* Màu chữ */
  font-size: 16px; /* Kích thước của nút */
  cursor: pointer; /* Con trỏ chuột */
} 

.add-button {
  margin-top: 20px; /* Đẩy nút "Thêm Ngưỡng Cảnh Báo" xuống 10px */
  background-color: #5b8b37;

}




/* Đặt kiểu cho container của form */
.form-container-register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Chiều cao toàn màn hình */
  background-color: #5b5959; /* Màu nền */
}

/* Đặt kiểu cho form */
.form-register {
  background-color: #fbfbfb; /* Màu nền của form */
  padding: 2rem; /* Khoảng cách bên trong */
  border-radius: 0.5rem; /* Bo góc */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Đổ bóng */
  width: 100%;
  max-width: 400px; /* Đặt chiều rộng tối đa */
  text-align: center;
}

/* Đặt kiểu cho các input */
.form-register input {
  width: 100%; /* Chiều rộng 100% */
  padding: 0.75rem; /* Khoảng cách bên trong */
  margin-bottom: 1rem; /* Khoảng cách dưới */
  border: 1px solid #ccc; /* Đường viền */
  border-radius: 0.25rem; /* Bo góc */
  font-size: 1rem; /* Kích thước chữ */
  box-sizing: border-box; /* Bao gồm padding và border vào chiều rộng */
}

/* Đặt kiểu cho nút đăng ký */
.button_register {
  background-color: #5b8b37; /* Màu nền */
  color: white; /* Màu chữ */
  border: none; /* Không có đường viền */
  border-radius: 0.25rem; /* Bo góc */
  padding: 0.75rem 1.5rem; /* Khoảng cách bên trong */
  font-size: 1rem; /* Kích thước chữ */
  cursor: pointer; /* Con trỏ chuột */
  transition: background-color 0.3s ease; /* Hiệu ứng chuyển đổi màu nền */
}

/* Đặt kiểu cho nút đăng ký khi hover */
.button_register:hover {
  background-color: #466d29; /* Màu nền khi hover */
}

/* Đặt kiểu cho thông báo lỗi */
.form-register p {
  color: red; /* Màu chữ đỏ */
  font-size: 0.875rem; /* Kích thước chữ */
  margin-top: 0.5rem; /* Khoảng cách trên */
}


.logout_bt {
  color: #fdfdfd;
  text-align: center;
  padding-top: 15px;
}

.logout_bt:hover {
  color: #ea1010;
  text-align: center;
}


.hovaten {
  color: #f3f3f3;
  text-align: center;
  font-size: large;
}

.hovaten:hover {
  color: #777878;
  text-align: center;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-button {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.dropdown-menu {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  z-index: 1000;
  padding: 10px;
  min-width: 150px;
}

.dropdown.active .dropdown-menu {
  display: block; /* Hiển thị dropdown menu khi có class active */
}

.edit-form {
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.edit-form label {
  display: block;
  margin-bottom: 10px;
}

.edit-form input {
  width: calc(100% - 16px); /* Điều chỉnh kích thước input để phù hợp với padding */
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.edit-form button {
  margin-right: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #133eda;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.edit-form button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}


.btn_capnhathoso:hover{
  background-color: #073c73;
}


.btn_capnhathoso_cancel:hover{
  background-color: #ae5343;
}


.btn_capnhathoso_luu:hover{
  background-color: #073c73;
}
